version: 2

updates:
  - package-ecosystem: github-actions
    directory: "."
    schedule:
      interval: quarterly

  - package-ecosystem: cargo
    directory: "."
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"
